body {
	background: #ebb3a9;
	width: 250px;
	margin: auto;
	font-family: "Vollkorn SC", serif;
}
h2 {
	color: #e86252;
	text-align: center;
	padding-top: 60px;
}

button#jsstyle {
	margin: 195px 0 0 8%;
	position: absolute;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
	padding: 10px;
	color: #eeebd0;
	background: #ee2677;
	border: none;
}
.container {
	margin-top: 40px;
	width: 250px;
	background: #e87ea1;
	z-index: -11;
	height: 250px;
	position: absolute;
	border-radius: 5px;
}
img {
	padding-left: 20%;
	margin-top: 80px;
}
p {
	padding-left: 44%;
	padding-top: 33%;
	position: absolute;
	color: darkgrey;
}

h5 {
	margin-top: 320px;
	color: #e86252;
	position: absolute;
	width: 250px;
	text-align: center;
}

a {
	color: #e86252;
}
